services:
  server_docker:
    build:
      context: .
      dockerfile: ./server/Dockerfile
      args:
        BASE_IMAGE: ${BASE_IMAGE}
        BASE_IMAGE_VERSION: ${BASE_IMAGE_VERSION}
        BASE_IMAGE_VARIANT: ${BASE_IMAGE_VARIANT}
        NEW_UID: ${NEW_UID}
        NEW_GID: ${NEW_GID}
        MY_USER: ${MY_USER}
        MY_GROUP: ${MY_GROUP}
    pull_policy: never
    container_name: "server_docker_${PROJECT_NAME}"
    user: node
    ports:
      - "${APP_PORT}:5173"
      - "3000:3000"
    volumes:
      - ../.:/var/www/html
    tty: true
    stdin_open: true
    networks:
      - app_network
    # command: bash -c "cd /var/www/html && node server.cjs"

  mongo:
    image: mongo:6.0
    container_name: "mongo_${PROJECT_NAME}"
    ports:
      - "27017:27017"
    command: --bind_ip_all
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - ./database:/docker-entrypoint-initdb.d
      - mongo-data:/data/db
    networks:
      - app_network

  mongo-express:
    image: mongo-express
    container_name: "mongo_express_${PROJECT_NAME}"
    ports:
      - "8082:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_BASICAUTH_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      ME_CONFIG_BASICAUTH_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      ME_CONFIG_MONGODB_SERVER_WAIT: 60
    depends_on:
      - mongo
    networks:
      - app_network

networks:
  app_network:
    name: "network_${PROJECT_NAME}"

volumes:
  mongo-data: